# -----------------------------------------------------------------------------
# App - Don't add "/" in the end of the url (same in production)
# -----------------------------------------------------------------------------
NEXT_PUBLIC_APP_URL=http://localhost:3000/

# -----------------------------------------------------------------------------
# Authentication (NextAuth.js)
# -----------------------------------------------------------------------------
AUTH_SECRET=NULL # Added by `npx auth`. Read more: https://cli.authjs.dev

GOOGLE_CLIENT_ID=NULL
GOOGLE_CLIENT_SECRET=NULL

GITHUB_OAUTH_TOKEN=NULL

# -----------------------------------------------------------------------------
# Database (MySQL - Neon DB)
# -----------------------------------------------------------------------------
DATABASE_URL='postgres://[user]:[password]@[neon_hostname]/[dbname]?sslmode=require'

# -----------------------------------------------------------------------------
# Email (Resend)
# -----------------------------------------------------------------------------
RESEND_API_KEY=NULL
EMAIL_FROM="DevUnion App <onboarding@resend.dev>"

# -----------------------------------------------------------------------------
# Subscriptions (Stripe)
# -----------------------------------------------------------------------------
STRIPE_API_KEY=NULL
STRIPE_WEBHOOK_SECRET=NULL

NEXT_PUBLIC_STRIPE_PRO_MONTHLY_PLAN_ID=NULL
NEXT_PUBLIC_STRIPE_PRO_YEARLY_PLAN_ID=NULL

NEXT_PUBLIC_STRIPE_BUSINESS_MONTHLY_PLAN_ID=NULL
NEXT_PUBLIC_STRIPE_BUSINESS_YEARLY_PLAN_ID=NULL

# -----------------------------------------------------------------------------
# Firebase config
# -----------------------------------------------------------------------------
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_DATABASE_URL=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=